################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ajax/.vs/Ajax/v15
/Ajax/Ajax/obj/Debug
